

DB_PASSWORD=CARC_1989
DB_NAME=gestionworks
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
SYNCHRONIZE=true 

PORT= 3000
HOST_API=http://localhost:3000/api

JWT_SECRET=Est3EsMiSeCreto12462a

CORS_ORIGINS=http://localhost:8100,http://localhost:4200


# el SINCHRONIZE en producción suele ser falso, porque en realidad se manejan con migraciones